body {  
    background-color:lightgrey;
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 5%;
    padding: 10px;
    height: auto;
    width: min-content;
    background-color:white;
}

img{
    border-radius: 5%;
    padding: 20px;
}

h1 {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
}
h3 {
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    color:grey;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


